# website you're trying to host
<VirtualHost *:80>
	ServerName {{ domain_sub }}.{{ domain_tld }}
	#ServerAlias {{ domain_sub }}.{{ domain_tld }}
	DocumentRoot /organisation/websites/{{ domain_tld }}/{{ domain_sub }}/public_html
	<Directory /organisation/websites/{{ domain_tld }}/{{ domain_sub }}/public_html>
		Require all granted
		AllowOverride All
		# potential speed boost in only having one .htaccess
		#Include /organisation/websites/{{ domain_tld }}/{{ domain_sub }}/public_html/.htaccess 
	</Directory>
	# keep logs next to website for better storage management
	# - must use combined log format for better awstats
	CustomLog /organisation/websites/{{ domain_tld }}/{{ domain_sub }}/logs/access.log combined
	ErrorLog /organisation/websites/{{ domain_tld }}/{{ domain_sub }}/logs/error.log

	<Directory /usr/lib/cgi-bin>
		Require all granted
	</Directory>

	<IfModule mod_fastcgi.c>
		AddHandler php7-fcgi .php
		Action php7-fcgi /php7-fcgi
		Alias /php7-fcgi /usr/lib/cgi-bin/php7-fcgi
		#FastCgiExternalServer /usr/lib/cgi-bin/php7-fcgi -host 127.0.0.1:9000 -pass-header Authorization
		FastCgiExternalServer /usr/lib/cgi-bin/php7-fcgi -socket /var/run/php/php7.1-fpm.sock -pass-header Authorization
		<Directory /usr/lib/cgi-bin>
			Require all granted
		</Directory>
	</IfModule>

</VirtualHost>

# most compact way of redirecting from www to non-www (or vice versa)
# - don't forget the trailing slash!
#<VirtualHost *:80>
#ServerName www.{{ domain_sub }}.{{ domain_tld }}
#Redirect permanent / http://{{ domain_sub }}.{{ domain_tld }}/
#</VirtualHost>
