Listen 127.0.0.1:8080

<VirtualHost 127.0.0.1:8080>
	ServerName {{ domain_sub }}.{{ domain_tld }}
	DocumentRoot /organisation/websites/{{ domain_user }}/{{ domain_tld }}/{{ domain_sub }}/public_html
	<Directory /organisation/websites/{{ domain_user }}/{{ domain_tld }}/{{ domain_sub }}/public_html>
		Require all granted
		AllowOverride All
		#Include /organisation/websites/{{ domain_user }}/{{ domain_tld }}/{{ domain_sub }}/public_html/.htaccess 
	</Directory>
	CustomLog /organisation/websites/{{ domain_user }}/{{ domain_tld }}/{{ domain_sub }}/logs/access-apache.log combined
	ErrorLog /organisation/websites/{{ domain_user }}/{{ domain_tld }}/{{ domain_sub }}/logs/error-apache.log

	<FilesMatch \.php$>
		SetHandler "proxy:unix:/run/php/php7.1-fpm-{{ domain_short }}-{{ domain_sub }}.sock|fcgi://./"
	</FilesMatch>
</VirtualHost>
