# website you're trying to host
<VirtualHost *:80>
	ServerName {{ domain_sub }}.{{ domain_tld }}
	#ServerAlias {{ domain_sub }}.{{ domain_tld }}
	DocumentRoot /organisation/websites/{{ domain_tld }}/{{ domain_sub }}/public_html
	<Directory /organisation/websites/{{ domain_tld }}/{{ domain_sub }}/public_html>
		Require all granted
		AllowOverride All
		# potential speed boost in only having one .htaccess
		#Include /organisation/websites/{{ domain_tld }}/{{ domain_sub }}/public_html/.htaccess 
	</Directory>
	# keep logs next to website for better storage management
	# - must use combined log format for better awstats
	CustomLog /organisation/websites/{{ domain_tld }}/{{ domain_sub }}/logs/access-apache.log combined
	ErrorLog /organisation/websites/{{ domain_tld }}/{{ domain_sub }}/logs/error-apache.log

	<Directory /usr/lib/cgi-bin>
		Require all granted
	</Directory>

	<IfModule mod_fastcgi.c>
		AddHandler php7-fcgi .php
		Action php7-fcgi /php7-fcgi
		Alias /php7-fcgi /usr/lib/cgi-bin/php7-fcgi
		#FastCgiExternalServer /usr/lib/cgi-bin/php7-fcgi -host 127.0.0.1:9000 -pass-header Authorization
		FastCgiExternalServer /usr/lib/cgi-bin/php7-fcgi -socket /var/run/php/php7.1-fpm.sock -pass-header Authorization
		<Directory /usr/lib/cgi-bin>
			Require all granted
		</Directory>
	</IfModule>

## On Debian using mod_proxy and mod_proxy_fcgi built in to Apache 2.4
#	ProxyPassMatch "/(.*\.php(/.*)?)$" "unix:/var/run/php/php7.1-fpm.sock|fcgi://localhost//organisation/websites/{{ domain_tld }}/{{ domain_sub }}/public_html/"

##	if you are using SSL, use port 443 above
#	SSLEngine on
#	SSLCertificateFile /organisation/local/letsencrypt/live/{{ domain_sub }}.{{ domain_tld }}/fullchain.pem
#	SSLCertificateKeyFile /organisation/local/letsencrypt/live/{{ domain_sub }}.{{ domain_tld }}/privkey.pem
#	<FilesMatch "\.(cgi|shtml|phtml|php)$">
#		SSLOptions +StdEnvVars
#	</FilesMatch>

</VirtualHost>

# most compact way of redirecting from www to non-www (or vice versa)
# - don't forget the trailing slash!
#<VirtualHost *:80>
#ServerName www.{{ domain_sub }}.{{ domain_tld }}
#Redirect permanent / http://{{ domain_sub }}.{{ domain_tld }}/
#</VirtualHost>
