[{{ domain_user }}-{{ domain_sub }}]
user = {{ domain_user }}
group = {{ domain_user }}

listen = /run/php/php7.1-fpm-{{ domain_user }}-{{ domain_sub }}.sock
listen.owner = www-data
listen.group = www-data

pm = dynamic
pm.max_children = 5
pm.start_servers = 2
pm.min_spare_servers = 1
pm.max_spare_servers = 3

;pm.status_path = /fpmstatus

access.log = /organisation/websites/{{ domain_tld }}/{{ domain_sub }}/logs/access-fpm.log

chdir = /organisation/websites/{{ domain_tld }}/{{ domain_sub }}

; please note you may need to relax the open_basedir to the user home instead of website base directory
; particularly if you have a shared config or credential file (i.e. .aws)

php_admin_value[error_log] = /organisation/websites/{{ domain_tld }}/{{ domain_sub }}/logs/error-fpm.log
php_admin_value[open_basedir] = /organisation/websites/{{ domain_tld }}/{{ domain_sub }}
php_admin_value[sys_temp_dir] = /organisation/websites/{{ domain_tld }}/{{ domain_sub }}/tmp
php_admin_value[upload_tmp_dir] = /organisation/websites/{{ domain_tld }}/{{ domain_sub }}/tmp
php_admin_value[session.save_path] = /organisation/websites/{{ domain_tld }}/{{ domain_sub }}/tmp
