#!/bin/bash

[ $1 ] && /organisation/git/config/permissions/_standard.sh

# chmod -R 775 /organisation/websites/{{ domain_tld }}/{{ domain_sub }}/public_html/uploads/{downloads,photos}

[ $1 ] && echo "{{ domain_sub }}.{{ domain_tld }} permissions have been reset"